extend base
mixin navItem(link, text, icon, active)
  li(class=`${active ? 'side-nav--active' : ''}`)
    a(href=`${link}`)
      svg
        use(xlink:href=`img/icons.svg#icon-${icon}`)
      | #{text} 

block content
  main.main
    .user-view
      nav.user-view__menu
        ul.side-nav
          +navItem('#', 'Settings', 'settings')
          +navItem('/my-bookings', 'My bookings', 'briefcase')
          +navItem('/my-reviews', 'My reviews', 'star')
          +navItem('#', 'Billing', 'credit-card')
        - if (user.role === 'admin')
          .admin-nav
            h5.admin-nav__heading Admin
            ul.side-nav
              +navItem('/manage-users', 'Manage Users', 'users')
              +navItem('/create-tour', 'Create a Tour', 'map')
              +navItem('/manage-tours', 'Manage Tours', 'map')
              +navItem('/create-booking', 'Create booking', 'credit-card', true)
              +navItem('/manage-bookings', 'Manage bookings', 'briefcase')

      .user-view__content
        .user-view__form-container
          h2.heading-secondary.ma-bt-md Your account settings
          form.form.form--create-booking
            .form__group
              label.form__label(for='user') User Name
              input#user.form__input(type='text' placeholder='User Name' required='required')
            .form__group.ma-bt-md
              label.form__label(for='tour') Tour Name (slug)
              input#tour.form__input(type='text' placeholder='the-forest-hiker' required='required')
            .form__group.ma-bt-md
              .custom-select(style='width: 200px')
                label.form__label(for='paid') Paid Booking
                select#paid
                  option(value='true') Paid
                  option(value='true') Paid
                  option(value='') Not Paid
            .form__group.ma-bt-md
              label.form__label(for='price') Price
              input#price.form__input(type='number' placeholder='999' required='required')
            .form__group.right
              button.btn.btn--small.btn--green.btn--save-data
                | Create Booking  